## Regresión Logística y Métodos de Aprendizaje no supervisado

In [17]:
import pandas as pd

df = pd.read_excel('../../res/tp4/acath.xlsx', sheet_name='acath')  # 3505 rows

df.head()

   sex  age  cad.dur  choleste  sigdz  tvdlm
0    0   73      132     268.0      1    1.0
1    0   68       85     120.0      1    1.0
2    0   54       45       NaN      1    0.0
3    1   58       86     245.0      0    0.0
4    1   56        7     269.0      0    0.0

In [18]:
import numpy as np

# Sanitize dataset
result_column = 'sigdz'
columns = ['sex', 'age', 'cad.dur', 'choleste', 'tvdlm']

# Replace numeric value for `sigdz` with logical value
df = df.replace({result_column: {1: 'T', 0: 'F'}})

# Replace NaN occurrences with mean
for column in columns:
    df = df.replace({column: {np.nan: df[column].mean()}})

df.head()

   sex  age  cad.dur    choleste sigdz  tvdlm
0    0   73      132  268.000000     T    1.0
1    0   68       85  120.000000     T    1.0
2    0   54       45  229.928255     T    0.0
3    1   58       86  245.000000     F    0.0
4    1   56        7  269.000000     F    0.0

In [19]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2)

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

model = LogisticRegression()
model.fit(train[columns], train[result_column])

LogisticRegression()